
body {
    background-color: rgb(74, 65, 42);
    color: rgb(232, 244, 204);    
}
#contentHA {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#chatting {
    background-color: rgb(100, 89, 61);
    border-style: solid;
    border-width: 2px;
    border-color: rgb(133, 128, 97);
    height: 600px;
    width: 70%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}

#chatbox {
    height: 95%;
    width: 95%;
}

#delete_button {
    background-color: rgb(255, 0, 140);
    border-style: none;
}